// Add your own custom styles here

.diagonal-transition::before {
  content: "";
  position: absolute;
  top: -8rem; /* Adjust this value based on the height of the diagonal */
  left: 0;
  width: 100%;
  height: 150px; /* Height of the diagonal section */
  @apply bg-theme-dark; /* Set the diagonal's color to match the border color */
  transform: skewY(-2.5deg); /* Creates the diagonal effect */
  z-index: 1;
}

.left-diagonal-transition::before {
  content: "";
  position: absolute;
  bottom: -8rem;
  left: 0;
  width: 100%;
  height: 140px; /* Same height as the top diagonal */
  @apply bg-theme-light; /* Set the diagonal's color to match the border color */
  transform: skewY(1.2deg); /* Reverse skew direction for bottom transition */
  z-index: 1; /* Ensure it doesn't overlap content unless explicitly desired */
}

.right-diagonal-transition::before {
  content: "";
  position: absolute;
  bottom: -8rem;
  left: 0;
  width: 100%;
  height: 140px; /* Same height as the top diagonal */
  @apply bg-theme-dark; /* Set the diagonal's color to match the border color */
  transform: skewY(-1.2deg); /* Reverse skew direction for bottom transition */
  z-index: 1; /* Ensure it doesn't overlap content unless explicitly desired */
}

$primary: theme('colors.primary');
$theme-dark: theme('colors.theme-dark');

.grid-overlay {
  @apply bg-gradient-to-b;
  background-image: linear-gradient(to bottom, $primary, $theme-dark);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 20px 20px;
  }
  // Ensure all content in the section is positioned above the background and grid
  > .container {
    position: relative;
  }
}

