<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <!-- Newsletter signup -->
    <div
      class="flex justify-center px-2 bg-theme-light dark:bg-darkmode-theme-light">
      <div class="max-w-2xl px-3 py-5 rounded-2xl md:px-8 md:py-7">
        <h4 class="text-2xl font-semibold tracking-wide">
          Connect with us! Insights from Gabe and Ify
        </h4>
        <p class="max-w-xl mt-2 leading-relaxed lg:text-lg">
          Get the inside track on revolutionary AI and tech with our
          newsletter—direct from the trailblazers driving change
        </p>
        <form
          action="https://caproni.us17.list-manage.com/subscribe/post?u=8d3ca1f462e3926791d1c3351&amp;id=d802534606&amp;f_id=00f8c2e1f0"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank">
          <div class="my-4 sm:flex sm:flex-row sm:justify-evenly">
            <input
              class="block w-full px-4 py-3 mt-3 text-gray-800 placeholder-gray-500 bg-white border border-gray-300 rounded-md appearance-none sm:max-w-xs focus:outline-none focus:ring focus:ring-blue-50 focus:border-blue-300"
              type="email"
              placeholder="Enter work email"
              name="EMAIL"
              id="mce-EMAIL"
              required="" />
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input
                type="text"
                name="b_8d3ca1f462e3926791d1c3351_d802534606"
                tabindex="-1"
                value="" />
            </div>
            <button
              class="btn btn-primary block w-full py-3 mt-3 font-bold tracking-wide rounded shadow sm:ml-3 md:w-52 focus"
              type="submit"
              name="subscribe"
              id="mc-embedded-subscribe">
              <span class="block">Subscribe</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row items-center py-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a
          class="navbar-brand inline-block"
          href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>
</footer>
